<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= error.status %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <main id="error">
      <nav>
        <h1><a href="/">My Posts</a></h1>
        <p>Welcome to My Posts</p>
        <a href="/new"><button>New Post</button></a>
      </nav>

      <h1><%= message %></h1>
      <h2><%= error.status %></h2>
    </main>
    <footer>
      <p>Marvin Obig</p>
      <p>
        <a href="https://github.com/marvinobig" target="_blank"
          ><button>Github</button></a
        >
      </p>
    </footer>
  </body>
</html>
