<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <main>
      <h1>My Posts</h1>
      <form id="new-post-form" method="post" action="/new">
        <div id="name-input" class="inputs">
          <label for="user">Name</label>
          <input id="user" type="text" name="user" required />
        </div>

        <div class="inputs">
          <label for="text">Your Post</label>
          <textarea id="text" type="text" name="text" required> </textarea>
        </div>

        <button type="submit">Post</button>
      </form>
    </main>
    <footer>
      <p>Marvin Obig</p>
      <p>
        <a href="https://github.com/marvinobig" target="_blank"
          ><button>Github</button></a
        >
      </p>
    </footer>
  </body>
</html>
